<div class="invest">
  <div class="arie w-200 d-flex"
>
<div class="coll d-flex align-items-center" (click)="goto()" > Cadre générale de l'investissement</div>
<div class="coll d-flex align-items-center " (click)="goto2()"  >Accès au marché</div>
<div class="coll d-flex align-items-center " (click)="goto3()" >Garanties et obligations de l’investisseur et réglement des différents</div>
<div class="coll d-flex align-items-center " (click)="goto4()" >Structures de gouvernance de l’investissement et des avantages fiscaux et financiers</div>
<div class="coll d-flex align-items-center " (click)="goto5()" >Déclaration de l’opérations de l’investissement</div>

</div>

