<div class="invest">
  <div class="arie w-200 d-flex"
>
<div class="coll d-flex align-items-center" (click)="goto()" > Cadre générale de l'investissement</div>
<div class="coll d-flex align-items-center " (click)="goto2()"  >Avantages Financiers</div>
<div class="coll d-flex align-items-center " (click)="goto3()" >Avantages fiscaux</div>
<div class="coll d-flex align-items-center " (click)="goto4()" >Autorisations</div>
<div class="coll d-flex align-items-center " (click)="goto5()" >Déclaration</div>

</div>
